# Q1. 
Write a code to print the data present in the second row of the dataframe, df.

In [1]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration =  [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [16]:
df[1:2]

        course_name  duration
1  Machine Learning         3

# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc => requires combination of index and index Name to identify a location

iloc => takes both arguments as index number to identify a location

# Q3. 
Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.

In [17]:
#Consider the below code to answer further questions:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [25]:
reindex = [3,0,1,2]
new_df=df1.reindex(reindex)

In [26]:
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.590274  0.699225  0.102001  0.103404  0.116726  0.005150
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.790372  0.908931  0.897787  0.818996  0.213233  0.939983
2  0.788508  0.839113  0.446562  0.661691  0.066843  0.738604

it will arange the rows in the form of index given & ignore the index not specified

# Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) 	mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2

In [27]:
df1.mean()

column_1    0.581714
column_2    0.600968
column_3    0.494745
column_4    0.566544
column_5    0.336936
column_6    0.489763
dtype: float64

In [28]:
df1.std()

column_1    0.222224
column_2    0.345042
column_3    0.257660
column_4    0.254837
column_5    0.371132
column_6    0.383316
dtype: float64

# Q5. 
Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [29]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.790372  0.908931  0.897787  0.818996  0.213233  0.939983
2  0.788508  0.839113  0.446562  0.661691  0.066843  0.738604
3  0.590274  0.699225  0.102001  0.103404  0.116726  0.005150
4  0.229540  0.138365  0.598310  0.716693  0.853002  0.783907
5  0.676056  0.191073  0.456980  0.633740  0.760626  0.137148
6  0.415532  0.829101  0.466831  0.464737  0.011187  0.333787

In [38]:
df1.iloc[1,1]="str_data"

In [40]:
df1.mean()

C:\Users\Dell\AppData\Local\Temp\ipykernel_8596\2053335143.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.mean()

column_1    0.581714
column_3    0.494745
column_4    0.566544
column_5    0.336936
column_6    0.489763
dtype: float64

No Error but column 2 is ignored bcz of mixture of data .... i.e the presence of categorical data

# Q6. 
What do you understand about the windows function in pandas and list the types of windows
functions?

it helps you to role out a certain period and then we can perform some action on that period...

# Q7. 
Write a code to print only the current month and year at the time of answering this question.

[Hint: Use pandas.datetime function]

In [48]:
now = pd.datetime.now()

# extract month and year as strings
month = pd.to_datetime(now).strftime('%B')
year = pd.to_datetime(now).strftime('%Y')

month,year

C:\Users\Dell\AppData\Local\Temp\ipykernel_8596\4012165821.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  now = pd.datetime.now()

('March', '2023')

# Q8. 
Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [1]:
import pandas as pd

date1 = input("first date (YYYY-MM-DD): ")

date2 = input("second date (YYYY-MM-DD): ")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

delta = date2 - date1

days = delta.days
hours = delta.seconds // 3600
minutes = (delta.seconds % 3600) // 60

print("The difference between", date2.date(), "and", date1.date(), "is:")
print(days, "days", hours, "hours", minutes, "minutes")

The difference between 2023-03-27 and 1999-02-22 is:
8799 days 0 hours 0 minutes

# Q9. 
Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.


Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.

Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:

Enter the file path of the CSV file containing the student data: student_data.csv


+-----------+--------+

| Statistic | Value  |

+-----------+--------+

| Mean      | 79.6   |

| Median    | 82     |

| Mode      | 85, 90 |

+-----------+--------+


Assume that the CSV file student_data.csv contains the following data:

Student ID,Test Score

1,85

2,90

3,80

4,75

5,85

6,82

7,78

8,85

9,90

10,85


The program should calculate the mean, median, and mode of the test scores and display the results
in a table.