# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
pd.Series([4,8,15,16,23,42])

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on thevariable print it.

In [6]:
v=[1,2,3,4,5,6,7,8,9,0]

pd.Series(v)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data:

In [7]:
d = {"name":["Alice","Bob","Claire"],
     "Age":[25,30,27],
     "Gender":["Female","Male","Female"]}

pd.DataFrame(d)

     name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

# Data Frame 
    is a represtation of a structured data in form of row & column
# Series
    it can be considered as column/list 
    group of series together make dataframe

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

apply()      >> Used to apply a function to each item in a column 

.iloc / .loc >> used to locate a perticular item or group of item from a dataframe

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

# ANS
Series, DataFrame

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [9]:
a=[1,2,3,4,5,6,7,8,9,0]
b=[8,9,0,3,1,2,7,4,5,6]
c=[7,8,9,0,3,4,1,2,6,5]

df=pd.DataFrame()
df["a"]=pd.Series(a)
df["b"]=pd.Series(b)
df["c"]=pd.Series(c)

df

   a  b  c
0  1  8  7
1  2  9  8
2  3  0  9
3  4  3  0
4  5  1  3
5  6  2  4
6  7  7  1
7  8  4  2
8  9  5  6
9  0  6  5