In [1]:
# Q1. List any five functions of the pandas library with execution.

1 .read_csv()

2 .groupby()

3 .head()

4 .sum()

5 .mean()

In [3]:
import pandas as pd

df = pd.read_csv('books.csv')

In [4]:

df.head()

,Name,Author,UserRating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [5]:

df.groupby('Genre')['Price'].sum()

Genre
Fiction        2604
Non Fiction    4601
Name: Price, dtype: int64

In [6]:
df.groupby('Genre')['Price'].mean()

Genre
Fiction        10.850000
Non Fiction    14.841935
Name: Price, dtype: float64

# Q2 Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row

In [14]:
df = pd.DataFrame(
    {
    "A":[1,2,3,4],
    "B":[1,2,3,4],
    "C":[1,2,3,4]
    }
    , index=range(1,8,2)
)

In [15]:
df

   A  B  C
1  1  1  1
3  2  2  2
5  3  3  3
7  4  4  4

# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console

In [22]:
df.rename(columns={"A":"Values"},inplace=True)
df

   Values  B  C
1       1  1  1
3       2  2  2
5       3  3  3
7       4  4  4

In [26]:
"sum= ", df.Values[0:3].sum()

('sum= ', 6)

# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [27]:
df= pd.DataFrame(
    {
    "text":["Hi I did My Assignment","I am about to do Quiz","I will be a Data scientist"]
    }
)

In [43]:
df["Word_count"]=df["text"].apply(lambda x: len(x.split()))

In [44]:
df

                         text  Word_count
0      Hi I did My Assignment           5
1       I am about to do Quiz           6
2  I will be a Data scientist           6

# Q5. How are DataFrame.size() and DataFrame.shape() different?

In [47]:
df.shape

(3, 2)

In [48]:
df.size

6

shape >> gives us number of rows , column

size >> gives us number of items present in df

# Q6. Which function of pandas do we use to read an excel file?

pd.read_excel()

# Q7. 
You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [49]:
df1=pd.DataFrame(
    {
    "email": ["shree@gmail.com","abc.acb@kbc.sbd","sdfsd.asda@sdc.as"]
    }
)

In [56]:
df1["username"]=df1["email"].apply(lambda x: x.split("@")[0])

In [57]:
df1

               email    username
0    shree@gmail.com       shree
1    abc.acb@kbc.sbd     abc.acb
2  sdfsd.asda@sdc.as  sdfsd.asda

# Q8. 
You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

   A   B   C

0  3   5   1

1  8   2   7

2  6   9   4

3  2   3   5

4  9   1   2

Your function should select the following rows:   A   B   C

1  8   2   7

4  9   1   2

The function should return a new DataFrame that contains only the selected rows.

In [63]:
df2=pd.DataFrame(
    {
    "A":[3,8,6,2,9],
    "B":[5,2,9,3,1],
    "C":[1,7,4,5,2]
    }
)

In [65]:
df2[(df2.A>5) & (df2.B<10)]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

# Q9. 
Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.``

In [68]:
# treating values column as A ... bcz i already have the df created
df2.A.describe()

count    5.00000
mean     5.60000
std      3.04959
min      2.00000
25%      3.00000
50%      6.00000
75%      8.00000
max      9.00000
Name: A, dtype: float64

# Q10.
Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [19]:
import numpy as np
import pandas as pd

df3=pd.DataFrame()

start_date = '2021-01-01'
end_date = '2021-02-19'
df3["Dates"]= pd.date_range(start=start_date, end=end_date)

df3["Sales"]=np.random.randint(50,size=50)

In [24]:
df3["Moving Avg"]=df3.Sales.rolling(window=7).mean()

In [27]:
df3.dropna().head(5)

        Dates  Sales  Moving Avg
6  2021-01-07     48   22.285714
7  2021-01-08     24   21.285714
8  2021-01-09     32   20.571429
9  2021-01-10     30   24.714286
10 2021-01-11     17   27.142857

# Q11. 
You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

         Date

0  2023-01-01

1  2023-01-02

2  2023-01-03

3  2023-01-04

4  2023-01-05

Your function should create the following DataFrame:


         Date    Weekday

0  2023-01-01    Sunday

1  2023-01-02     Monday

2  2023-01-03    Tuesday

3  2023-01-04    Wednesday

4  2023-01-05    Thursday

The function should return the modified DataFrame.

In [28]:
df4=pd.DataFrame(
    {
    "Date":['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']
    }
)

In [30]:
df4.dtypes

Date    object
dtype: object

In [36]:
df4["Weekdays"]=(pd.to_datetime(df4.Date)).dt.day_name()

In [37]:
df4

         Date   Weekdays
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

# Q12. 
Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

# Q13. 
To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

pandas