In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]
df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

# Q1. Write a code to print the data present in the second row of the dataframe, df.
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [3]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc is used for selection by label, which means that you specify the row and column labels as arguments to the method. The labels can be strings or integers.

iloc is used for selection by integer position, which means that you specify the row and column positions as arguments to the method. The positions start from 0, which means that the first row and first column have position 0, the second row and second column have position 1, and so on.

In [7]:
# Q3. Reindex the given dataframe using a variable, reindex = [3, 0, 1, 2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

# Did you observe any difference in both the outputs? If so then explain it.

# ANSWER
reindex = [3, 0, 1, 2]

new_df=df.reindex(reindex)

new_df.loc[2] , new_df.iloc[2]

# As you can see, there is a difference in the output of the two commands. This is because loc uses label-based indexing, while iloc uses integer position-based indexing.

# In new_df.loc[2], 2 is the label of the row, so it returns the third row of the DataFrame with label 2. In contrast, in new_df.iloc[2], 2 is the integer position of the row, so it returns the third row of the DataFrame based on integer position, which is the row with position 2. Therefore, the two commands return different rows from the DataFrame.

(course_name    Big Data
 duration              6
 Name: 2, dtype: object,
 course_name    Machine Learning
 duration                      3
 Name: 1, dtype: object)

In [6]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [8]:
# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
# (i)  mean of each and every column present in the dataframe.
# (ii) standard deviation of column, 'column_2'

import numpy as np
import pandas as pd
columns = ['column_1', 'column_2', 'column_3',
           'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
# Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.287624  0.235203  0.541556  0.676518  0.493801  0.377094
2  0.052889  0.027789  0.299648  0.510724  0.669797  0.303404
3  0.511323  0.087807  0.449254  0.164235  0.436046  0.600934
4  0.265003  0.769919  0.654825  0.232114  0.745253  0.383901
5  0.066185  0.722015  0.204768  0.191581  0.101265  0.750233
6  0.398352  0.461710  0.408737  0.342800  0.428785  0.004248

In [9]:
df1.mean()

column_1    0.263563
column_2    0.384074
column_3    0.426465
column_4    0.352995
column_5    0.479158
column_6    0.403302
dtype: float64

In [11]:
df1.column_2.std()

0.31811433536564665

In [16]:
# Q5. Replace the data present in the second row of column, 'column_2' by a string variable then find the mean of column, column_2.
# If you are getting errors in executing it then explain why.
# [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

df1.loc[2, 'column_2'] = str(df1.loc[2, 'column_2'])
df1.column_2.mean()

# because string and integer cant be added  // unsupported operand type(s) for +: 'float' and 'str'

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [20]:
# Q6. What do you understand about the windows function in pandas and list the types of windows functions?

# In Pandas, the rolling() function is used to create rolling window objects that can be used to apply window functions to a time series or a DataFrame. The window function is applied to a fixed-size sliding window of data, which moves over the data frame.

# Moving Average: Computes the average of a window of data points.
# Exponential Moving Average: Computes a weighted average of a window of data points, where more recent points are given greater weight.
# Cumulative Sum: Computes the sum of all data points up to and including the current point.
# Rolling Sum: Computes the sum of a window of data points.
# Rolling Max: Computes the maximum value of a window of data points.
# Rolling Min: Computes the minimum value of a window of data points.
# Rolling Standard Deviation: Computes the standard deviation of a window of data points


# Q7. Write a code to print only the current month and year at the time of answering this question.
# [Hint: Use pandas.datetime function]
now=pd.datetime.now()
month = now.month
year = now.year

# Print the current month and year
print("Current month and year: %d-%d" % (month, year))

Current month and year: 4-2023

C:\Users\Dell\AppData\Local\Temp\ipykernel_12528\1115869872.py:16: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  now=pd.datetime.now()

In [ ]:
# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

# Prompt the user to enter the two dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input dates to Pandas datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the time delta between the two dates
delta = date2 - date1

# Extract the number of days, hours, and minutes from the time delta
days = delta.days
hours = delta.seconds // 3600
minutes = (delta.seconds % 3600) // 60

# Display the result
print("The difference between", date1.date(), "and", date2.date(), "is:")
print(days, "days,", hours, "hours,", "and", minutes, "minutes.")




# Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
# column to a categorical data type. The program should prompt the user to enter the file path, column
# name, and category order, and then display the sorted data.
# Prompt the user to enter the file path and column name
file_path = input("Enter the file path: ")
column_name = input("Enter the column name: ")

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Prompt the user to enter the category order
category_order = input("Enter the category order (comma-separated): ")
category_order = category_order.split(",")

# Convert the specified column to a categorical data type
df[column_name] = pd.Categorical(
    df[column_name], categories=category_order, ordered=True)

# Sort the DataFrame by the specified column
df = df.sort_values(column_name)

# Display the sorted DataFrame
print(df)


# Q10. Write a Python program that reads a CSV file containing sales data for different products and
# visualizes the data using a stacked bar chart to show the sales of each product category over time. The
# program should prompt the user to enter the file path and display the chart.
# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Convert the date column to a datetime data type
df['Date'] = pd.to_datetime(df['Date'])

# Group the DataFrame by product category and date, and sum the sales column
sales_data = df.groupby(['Category', 'Date'])['Sales'].sum().reset_index()

# Pivot the sales_data DataFrame to create a pivot table
pivot_table = sales_data.pivot(
    index='Date', columns='Category', values='Sales')

# Plot the pivot table as a stacked bar chart
pivot_table.plot(kind='bar', stacked=True)

# Set the chart title and axis labels
plt.title('Sales by Product Category over Time')
plt.xlabel('Date')
plt.ylabel('Sales')

# Display the chart
plt.show()

In [ ]:
import pandas as pd

# Prompt the user to enter the file path of the CSV file containing the student data
csv_file_path = input(
    "Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(csv_file_path)

# Calculate the mean, median, and mode of the test scores using Pandas tools
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_score = df['Test Score'].mode()

# Display the mean, median, and mode in a table
print("+-----------+--------+")
print("| Statistic | Value  |")
print("+-----------+--------+")
print(f"| Mean      | {mean_score:.1f}   |")
print(f"| Median    | {median_score:.0f}   |")
print(f"| Mode      | {', '.join(map(str, mode_score.tolist()))}  |")
print("+-----------+--------+")