In [6]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="$AWS7676"
)
mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)
mydb.close()

('book_shop',)
('ig_clone',)
('information_schema',)
('mysql',)
('performance_schema',)
('relation_tables',)
('sakila',)
('shirts',)
('shree',)
('student_paper',)
('sys',)
('world',)

In [ ]:
mycursor=mydb.cursor()

# mycursor.execute("create database flaskdb") # IF NOT EXISTS flaskdb
# mycursor.execute("use flaskdb")
# mycursor.execute("create table partners (id INT PRIMARY KEY AUTO_INCREMENT NOT NULL, name VARCHAR(20) NOT NULL , age INT NOT NULL)")

sql_add="INSERT INTO partners(name,age) VALUES (%s , %s)"

# values=("shiva",100)
# mycursor.execute(sql_add,values)

for_multiple_values=[("ram",100),
                     ("shree",24)]
mycursor.executemany(sql_add,for_multiple_values)
mydb.commit()

# Always use PLACEHOLDER >> %s  everywhere like 'like',=...

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="$AWS7676",
    database="flaskdb"
)

In [2]:
mycursor=mydb.cursor()
mycursor.execute("SELECT * FROM partners")

myresult=mycursor.fetchall() #fetchone()
list(map(lambda x : print(x),myresult))

(1, 'shiva', 100)
(2, 'ram', 100)
(3, 'shree', 24)

[None, None, None]